$breakpoints: (
    xs: 412px,
    sm: 768px,
);

@mixin font-face($name, $file) {
    @font-face {
        font-family: "#{$name}";
        font-display: swap;
        src: url("./src/assets/fonts/#{$file}.woff") format("woff"),
        url("./src/assets/fonts/#{$file}.woff2") format("woff2"),
    }
}

@mixin mq($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (max-width: $breakpoint-value) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}
